body {
  font-family: Arial, sans-serif;
  background-image: url("./assets/background-image.jpg");
  background-size: cover;
  color: #fff;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem;
}

.event-container {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgb(0 0 0 / 0.1);
}

.list-group-item {
  font-size: 0.9rem;
}

.timestamp {
  font-size: 0.8rem;
  color: #666;
  display: block;
  margin-bottom: 0.3rem;
}
